* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
  height: 100vh;
  background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: 100rem;
  height: 55rem;
  background-color: rgba(255, 255, 255, 0.35);
  display: flex;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.player {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 90px;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.score {
  font-size: 6rem;
  color: #c7365f;
}

.player-data {
  text-align: center;
}

.current {
  padding: 16px;
  background: #c7365f;
  width: 14rem;
  height: 9rem;
  text-align: center;
  border-radius: 9%;
  color: #fff;
}

.current-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ddd;
}

.current-score {
  font-size: 3rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
}

.btn-new {
  top: 9rem;
  width: 12rem;
  height: 3rem;
}
.btn-roll {
  top: 39rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.5rem;
}
.btn-hold {
  top: 45rem;
  height: 3rem;
  width: 9rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
  width: 6rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
