* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

.btn {
  background-color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 26px;
  width: 232px;
  height: 58px;
  border: none;
  box-shadow: 0px 4px 12px;
  cursor: pointer;
}
